.hero-container {
  background-image: url("../assets/gradientbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  
}

.hero-title {
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  transition: 0.5s ease-in;
}

.categories-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 60px;
}

.category-selector {
  width: auto;
}

.category-selector button {
  border: solid 1px white;
  background: none;
  color: white;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 10px 25px;
  transition: 0.2s ease-in-out;
}

.category-selector button:hover {
  color: black;
  background-color: white;
}

/*Articles*/
.art-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 50px;
}

.art-card{
  width: 50%;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
}

.art-card img{
  width: 100%;
  height: 60%;
  object-fit: cover;
  cursor: pointer;
}

.art-card h2 {
  font-size: 40px;
  font-weight:400 ;
  color: white;
  text-align: center;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.art-card h2:hover{
 color: rgb(185, 3, 158);
 text-decoration-thickness: 2px;
 /* text-decoration-color: rgb(185, 3, 158); */
 
}

.category-box p {
  border: solid 1px white;
  background: none;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 2rem;
  padding: 10px 25px;
  transition: 0.2s ease-in-out;
}